/*
 * User: Lucas Kooijmans
 * Date: 8-2-2020
 * Time: 14:58
 * File: index.php
*/

::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background: transparent;
}

body
{
    margin: 0;
}

header
{
    background-color: lightcyan;
    border: 1px solid black;
    margin: 0;
    padding: 10px;
    font-family: Roboto;
    text-align: center;
}

h2
{
    margin: 0;
}

aside
{
    font-family: Roboto;
    background: linear-gradient(lightcyan, lightblue, lightskyblue);
    border: 1px solid black;
    border-top: 0;
    width: 500px;
    height: 760px;
    padding-top: 20px;
    padding-left: 20px;
}

a
{
    color: blue;
}

a:hover
{
    color: black;
}

#wrapper
{
    margin-top: -760px;
    margin-left: 540px;
}

aside+main>h2
{
    font-family: Roboto;
}

footer
{
    font-family: Roboto;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 540px;
}